@import "tailwindcss";

.maplibregl-ctrl-top-left {
  margin-top: 240px !important;
}

@media print {
  @page {
    size: A4 portrait;
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    background-color: white !important;
    overflow: visible !important;
    height: auto !important;
  }
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
}

@media screen {
  .print-only {
    display: none !important;
  }
}
